@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Satoshi-Variable';
    src: url('assets/fonts/Satoshi-Variable.woff2') format('woff2');
         font-weight: 300 900;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('assets/fonts/ClashDisplay-Variable.woff2') format('woff2');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
}

@layer components {
    body {
        @apply bg-slate-100 dark:bg-black dark:text-slate-400;
    }

    /***Nav***/
    .navbar {
        @apply flex justify-center w-fit py-4 backdrop-blur-xl saturate-150;
    }

    /**RouterLink stlyes**/
    .nav-link {
        @apply text-base font-display mx-4 hover:opacity-60 duration-700;
    }

    /***Heading styles***/
    .heading {
        @apply font-display font-semibold text-4xl sm:text-5xl bg-clip-text bg-gradient-to-r from-rose-500 via-fuchsia-500 to-slate-100 text-transparent;
    }

    /***HomeView***/
    .home-view {
        @apply h-screen w-screen flex justify-center items-center;
    }

    .catchline {
        @apply font-sans text-xl opacity-30;
    }

    /**CTA btn**/
    .to-gallery {
        @apply mt-8 border-b border-black dark:border-white py-2 text-xl hover:tracking-widest duration-200;
    }

    /***GalleryView***/
    .gallery-view {
        @apply flex flex-col min-h-screen justify-center items-center mb-24 sm:my-0;
    }

    .wallpaper-grid {
        @apply grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 sm:my-24 sm:px-4 gap-8;
    }

    .wallpaper-styles {
        @apply sm:w-80 hover:opacity-50 duration-500;
    }

    .wallpaper-description {
        @apply flex justify-between items-center mb-2 sm:mx-0 dark:bg-black border-b border-current;
    }

    .download-btn {
        @apply px-4 py-1 duration-500 bg-black dark:hover:bg-slate-400 hover:text-black;
    }

    /**AboutPage**/
    .about-layout {
        @apply flex flex-col min-h-screen w-3/4 sm:w-1/2 justify-center mx-auto;
    }
}

@media (prefers-color-scheme: light) {
    @supports not (backdrop-filter: blur()) {
        .navbar {
            background-color: #ffffffe0;
        }
    }
}

@media (prefers-color-scheme: dark) {
    @supports not (backdrop-filter: blur()) {
        .navbar {
            background-color: #000000e0;
        }
    }
}